.body {
    background: #0c022e;
    color: white;
    max-width: 800px;
    margin-inline: auto;
    width: 80%;
    overflow-x: hidden;
    word-wrap: break-word;
}

h1 {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 2.3rem;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

input {
    color: black;
    font-size: .8rem;
    border-radius: .4rem;
    height: 35px;
    padding-left: .4rem;
    width: 56%;
    outline: none;
}

div.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

ul {
    /* padding-left: 0; */
    list-style-type: decimal;
}

li {
    /* list-style-type: decimal; */
    font-size: .9rem;
}

a {
    text-decoration: none;
}