.body {
    background: #0c022e;
    color: white;
    max-width: 800px;
    margin-inline: auto;
    width: 96%;
    overflow-x: hidden;
    word-wrap: break-word;
}

h1 {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 2.1rem;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

input {
    color: black;
    font-size: .8rem;
    border-radius: .4rem;
    height: 35px;
    padding-left: .4rem;
    width: 65%;
    outline: none;
}

div.list {
    border: 2px solid white;
    /* height: 100px; */
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    margin: 0;
}

ul {
    padding-left: 0;
    list-style-type: decimal;
}

li {
    /* list-style-type: decimal; */
    font-size: .9rem;
}

a {
    text-decoration: none;
}
div.img{
    display: flex;
    justify-content: center;

}
div.img img{
     width: 30%;
     /* height: 200px; */
     border-radius: 50%;
     object-fit: cover;
     object-position: center;

}
div.user{
    opacity: .8;
}
h2{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: .3rem;
}
div.username, .login, .bio{
    display: flex;
    justify-content: space-between;
}